.grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
}

.article {
    display: flex;
    position: relative;
    border-radius: 1rem;
    height: 80vh;
    width: 100%;

    @media screen and (min-width: 768px) {
        height: 25rem;
    }
}

.article > img {
    z-index: 0;
    position: relative;
    object-fit: cover;
    object-position: bottom;
    border-radius: 1rem;
    mask-image: linear-gradient(to bottom, black, transparent 120%);
}

.article > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color 0.2s ease;

    & > h1 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    & > a {
        position: absolute;
        top: 1rem;
        right: 0;
        padding: inherit;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: .5rem;
        visibility: hidden;
    }

    &:hover {
        background-color: var(--palette-primary);
        justify-content: flex-end;

        @media screen and (min-width: 768px) {
            justify-content: center;
        }

        & > h1, & > p, & > a {
            color: var(--palette-on-primary);
            visibility: inherit;
            transform: translateY(-1rem);
            transition: transform 0.2s;
        }
    }
}
