:root {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --background: #ffffff;
  --surface: #ffffff;
  --error: #b00020;
  --on-primary: #ffffff;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-error: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 0;
}
