.page {
  flex: 1;
  max-width: 68.75rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

.page header {
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}

.page main {
  width: 100%;
  flex: 1;
}


.page .illustration img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
