:root {
    --palette-primary: #6200ee;
    --palette-primary-hover: #6200ee22;
    --palette-primary-variant: #3700b3;
    --palette-secondary: #03dac6;
    --palette-secondary-variant: #018786;
    --palette-background: #ffffff;
    --palette-surface: #ffffff;
    --palette-error: #b00020;
    --palette-on-primary: #ffffff;
    --palette-on-secondary: #000000;
    --palette-on-background: #000000;
    --palette-on-surface: #000000;
    --palette-on-error: #ffffff;
}

[data-theme="dark"] {
    --palette-primary: #bb86fc;
    --palette-primary-hover: #bb86fc22;
    --palette-primary-variant: #d0bcff;
    --palette-secondary: #03dac6;
    --palette-secondary-variant: #018786;
    --palette-background: #121212;
    --palette-surface: #121212;
    --palette-error: #cf6679;
    --palette-on-primary: #000000;
    --palette-on-secondary: #000000;
    --palette-on-background: #ffffff;
}